{% extends 'mainapp/base.html' %}

{% block title %} My Site | Home {% endblock %}
     
{% block content %}

    <h1>Welcome to the Home Page of My Site</h1><br><br>

    <div class="mx-4">
      <h3>Functions of this site:</h3> <br>
      <li> Manager Login </li> <br>
      <li> Manager SingUp/Register </li> <br>
      <li> Create/Add Employee </li> <br>
      <li> Retrive All The Employees </li> <br>
      <li> Update The Employee </li> <br>
      <li> Delete The Employee </li> <br>
    </div>
{% endblock %}

